@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600,700&amp;display=swap");

$background: white;

body {
    background-color: $background;
    margin-top: 2em;
    margin-bottom: 2em;
}

h1 {
    padding-left: 2em;
}

.navbar {
    padding-right: 3em;
    padding-left: 3em;
}

.navbar-brand {
    font-size: 2.5em;
    font-weight: 500;
}

.nav-item {
    padding-left: 25px;
    font-size: 20px;
    transition: border-color 0.5s;
    &:hover {
        transition: 1s;
    }
    &.active {
        font-weight: 400;
    }

    .title {
        color: pink;
    }
}


