---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{ page.title }}</title>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- JS -->
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/spotify.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <!-- SCSS -->
  <link rel="stylesheet" href="/assets/css/styles.css" />

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">Home</a>
    <ul class="navbar-nav ml-auto">
      {% for link in site.data.links.nav %}
      <li class="nav-item {% if page.url == link.href %}active{% endif %}">
        <a href="{{ link.href }}" class="nav-link">{{ link.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <main>
    {{ content }}
  </main>
</body>

</html>